@media screen and (min-width: 960px){
    html{
        width: 500px;
    }
    h1{
        color: #fffeed;
        font-weight: bold;
        font-family: 'Helvetica';
        background: black;
    }
    h2{
        text-align: center;
    }
    img{
        width: 500px;
    }
    .first{
        position: relative;
    }
    .data p{
        color: red;
        position: relative;
        float: none;

    }
    .weather{
        float: none;
    }
    .data{
        background: #fff;
        padding: 10px;
        margin: 0;
    }
}