
img{
    width: 200px;
    border-radius: 15px;
}

h1{
    /* float: left; */
    display: block;
}
h2{
    text-align: center;
}
main{
    max-width: 800px;
    margin: 0 auto;
    background: #ffffef;
}
a:hover{
    color:#fff;
}
a{
    text-decoration: none;
    color: #ffffef;
    font-weight: Bold;
    font-size: large;
}
nav{
    background: rgb(134, 104, 104);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
header{
    /* display: grid; */
    justify-content: space-around;
}
img{
    background: #fff;
}
.container{
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

 }
figcaption{
    color: Navy;
}
footer{
    background: #ffffef;
    border-radius: 4px;
    text-align: center;
    border: 1px solid gray;
}
span{
    color: navy;
}

#burger_menu::before{
    content: "≡";
}
#burger_menu.open::before{
    content: "X"
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 2.4em;
    width: 12em;
}

nav a {
    display: none;
    text-decoration: none;
}

nav a.active {
    color: #ffca38 ;
    text-decoration: underline 2px;
}

nav a:hover {
    background-color: white;
    font-weight: 800;
    border-radius: 0 0 .5em .5em;
    
}

.open, .open a {
    display: block;
}