@media screen and (min-width: 520px){
    #burger_menu{
        display: block;
    }
    nav{
        /* display: flex; */
        width: 80%;
        position: initial;
        flex-direction: row;
    }
    nav a{
        display: block;
    }
    nav a.active{
        color: #aaa;
    }
    a:hover{
        color:gold;
    }
}