img{
    width: 200px;
}
li{
    /* display: flex; */
    justify-content: space-evenly;
}









h1{

}
nav{
    background: black;
}
header{
    display: grid;
    justify-content: space-around;
}
img{
    background: #fff;
}
figcaption{
    color: Navy;
}
footer{
    background:#fff;
    border-radius: 4px;
    border: 1px solid gray;
}
span{
    color: navy;
}